.table_container {
  display: table;
  width: 100%;
  height: 80vh;
}
.table_header,
.table_row {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  border-radius: 30px;
  padding: 10px;
  background-color: #f3f3f3;
  margin: 5px 0;
}

.table_header > div,
.table_row > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 2px;
}
#formulario {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
.show {
  display: flex !important;

  flex-direction: column;
}
