



legend{

  font-size: 33px;
  text-align: center;
  color: rgb(41, 42, 43);
  text-indent: 70px;
  

}


body{


   background-color: rgb(119, 33, 33);

   display: flex;
   flex-direction:column;
   border-radius: 10px;

  
}

body>label{

    border-radius: 20px;
    color: rgb(14, 13, 13);

}

body>input{

    border-radius: 10px;
    font-size: large;
}






label{

     box-sizing: border-box;
     color: rgb(119, 33, 33);

    background-color: rgb(213, 220, 214);
    font-size: large;


}

input{

    color: darkblue;
}

.p{

    color: rgb(189, 21, 21);
}

textarea{

    border-radius: 10px;
    color: darkblue;
    font-size: large;

}